.header {
  height: 100vh;
}

.nav_background {
  position: absolute;
  top: 0;
  right: 0;
  height: 90%;
  width: 90%;
  z-index: -1;
  -webkit-clip-path: circle(90vh at 80% -2vh);
          clip-path: circle(90vh at 80% -2vh);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#888888));
  background: linear-gradient(to bottom, transparent, #888888); 
  transform-origin: right top;
  transform: scale(.2);
  transition: all .1s ease;
} 

.nav_background.show{
  animation: nav_back_animate 1s 2s ease forwards;
} 

@keyframes nav_back_animate{
  to{ 
    transform: scale(1);
  }
}

.scroll_down {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5%;
  height: 60px;
  width: 40px;
  border-radius: 40px;
  border: 2px solid #777777;
  cursor: pointer;
  -webkit-transition: .5s all linear;
  transition: .1s all linear;
  z-index: 1;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.scroll_down::after {
  content: "";
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  border: 5px solid #404355;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: scroll_down_animation 1s linear infinite;
          animation: scroll_down_animation 1s linear infinite;
}

.scroll_down::before {
  content: "";
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  border: 5px solid #505694;
  -webkit-animation: scroll_down_animation 1s 10s linear infinite;
          animation: scroll_down_animation 1s 10s linear infinite;
}

@-webkit-keyframes scroll_down_animation {
  to {
    top: 80%;
    opacity: 0;
  }
}

@keyframes scroll_down_animation {
  to {
    top: 80%;
    opacity: 0;
  }
}

.nav_hamburger_background {
  position: fixed;
  top: 5px;
  right: 5px;
  height: 90px;
  width: 100px;
  background: var(--radial-gradient);
  z-index: -2;
  display: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  border-radius: 62% 10% 49% 100% / 68% 47% 44% 90%;
}

.nav_hamburger_background.show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.body_content_header .header_top {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_text .text {
  line-height: 60px;
  min-width: 500px;
  padding: 10px;
}

.text span {
  position: relative;
  text-transform: capitalize;
  font-size: 2.3rem;
  -webkit-text-stroke: 1px #666666;
  color: var(--text-color);
}

.text h2 {
  color: var(--text-color);
  font-size: 2.5rem;
}

.text h2 span {
  -webkit-text-stroke: 1px rgba(54, 62, 128, 0.644);
}

.btn-group button.btn {
  position: relative;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 20px;
  background: transparent;
  margin-top: 20px;
  margin: 7px;
  font-size: 17px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border: 2px solid #273166;
  color: #273166;
  font-family: inherit;
}

.btn-group button.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #8082ff;
  background: #505694;
}

.btn-group button.btn:hover a {
  color: #fff;
}

.btn-group button.btn a {
  text-decoration: none;
  color: var(--text-color);
}

img.nav_background_img {
  margin-right: 10rem;
  height: 350px;
}

@media (max-width: 700px) {
  .nav_hamburger_background {
    display: block;
  }
  .nav_background {
    width: 99%;
    -webkit-clip-path: circle(70vh at 90% -25vh);
            clip-path: circle(70vh at 90% -25vh);
  }
  img.nav_background_img {
    display: none;
  }
  .header_text {
    width: 80%;
    overflow-x: hidden;
  }
  .header_text .text {
    width: 90%;
    overflow-x: hidden;
  }
  .header_text .text span {
    font-size: 1.5rem;
  }
  .header_text .text h2 {
    font-size: 2rem;
  }
  .header_text .btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_text .btn-group .btn {
    width: calc(100% - 20px);
    min-width: 200px;
  }
}

@media (max-width: 1000px) and (min-width: 700px) {
  .nav_background {
    width: 85%;
    -webkit-clip-path: circle(90vh at 135% -10%);
            clip-path: circle(90vh at 135% -10%);
  }
  img.nav_background_img {
    margin-top: 80%;
    height: 200px;
  }
  .header_text .text {
    min-width: 380px;
    margin-left: 20%;
    margin-top: -40%;
  }
  .header_text .btn-group {
    margin-left: 20%;
  }
  .header_text .text span {
    font-size: 1.8rem;
  }
  .header_text .text h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 1300px) and (min-width: 1000px) {
  .nav_background {
    width: 99vw;
    -webkit-clip-path: circle(90vh at 85% -5%);
            clip-path: circle(90vh at 85% -5%);
  }
  img.nav_background_img {
    margin-right: 5rem;
    height: 250px;
  }
} 