@import url("https://fonts.googleapis.com/css?family=Short+Stack&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth; 
}

:root {
  --text-color: #555555;
  --radial-gradient: radial-gradient(rgba(255, 255, 255, 0.4),rgba(143, 143, 143, 0.8));
  --font-family: 'Short Stack';
  --box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
                  inset -4px 4px 10px rgba(0, 0, 0, 0.5), 
                  inset -4px -4px 10px rgba(255, 255, 255, 1), 
                  4px 4px 10px rgba(0, 0, 0, 0.5);
}

body {
  overflow-x: hidden;
  font-family: var(--font-family);
}

#mousemove {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
  z-index: -99999;
} 

#main_div{
  transition: all .1s ease;
}